* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	display: flex;
	flex-direction: column;
	font-family: 'Raleway', sans-serif;
	font-size: 10px;
	background-color: #2d3250;
	color: #f1f1f1;
}
header {
	width: 100%;
	height: 200px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	font-size: 1.3rem;
	text-transform: uppercase;
}
nav {
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	font-size: 1rem;
	text-transform: uppercase;
}
nav div {
	max-width: 800px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	width: 80%;
	margin: 8px;
	border-radius: 10px;
	background-color: #424769;
}
nav a {
	padding: 15px;
	border-radius: 15px;
	color: #f1f1f1;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
}
nav a::after,
footer li::after {
	content: '';
	display: block;
	width: 0;
	height: 2px;
	background: #f9b17a;
	transition: width 0.3s;
}
nav a:hover::after,
footer li:hover::after {
	width: 100%;
}
main {
	max-width: 700px;
	margin: 100px 20px 0px 20px;
	padding: 25px 10px;
	background-color: #424769;
	border-radius: 15px;
	-webkit-box-shadow: 0px 0px 24px 0px rgba(66, 68, 90, 1);
	-moz-box-shadow: 0px 0px 24px 0px rgba(66, 68, 90, 1);
	box-shadow: 0px 0px 24px 0px rgba(66, 68, 90, 1);
}
h2 {
	padding-bottom: 15px;
	text-align: center;
	text-transform: uppercase;
	font-size: 1.5rem;
	font-weight: 500;
	letter-spacing: 2px;
	border-bottom: 2px solid #f9b17a;
}
.article {
	margin: 45px 10px;
	padding: 10px;
	background-color: #676f9d;
	border-radius: 8px;
}
h3 {
	padding-left: 5px;
	font-size: 1.2rem;
	border-left: 5px solid #f9b17a;
}
p {
	margin-top: 10px;
	font-size: 1rem;
}

aside {
	max-width: 500px;
	width: 100%;
	flex-direction: row;
	margin: 80px 50px;
    padding: 20px;
	border-radius: 15px;
	background-color: #424769;
	-webkit-box-shadow: 0px 0px 24px 0px rgba(66, 68, 90, 1);
	-moz-box-shadow: 0px 0px 24px 0px rgba(66, 68, 90, 1);
	box-shadow: 0px 0px 24px 0px rgba(66, 68, 90, 1);
}

footer {
	display: flex;
	width: 100%;
	height: 200px;
	background-color: #424769;
	color: #676f9d;
}
footer div {
    flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 10px 10px;
	width: 50%;
	font-size: 1rem;
}
footer i {
	margin-right: 12px;
}
footer ul li {
	margin: 10px;
	list-style-type: none;
}

footer li:last-child {
	cursor: pointer;
}
footer p {
	margin-bottom: 25px;
}
footer button {
	padding: 15px;
	width: 150px;
	font-size: 1rem;
	text-transform: uppercase;
	border: none;
	border-radius: 15px;
	background-color: #676f9d;
	color: #f1f1f1;
}
footer button:hover {
	border: 2px solid #f9b17a;
}
.other-style {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	text-align: center;
}
.main-content {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	margin-bottom: 150px;
}
.add {
    height: 300px;
    background-image: url(tor.jpg);
    background-size: cover;
}
.add-description p{
    margin-top: 40px;
    font-size: 1.2rem;
    text-align: center;
    text-transform: uppercase;
}

@media only screen and (min-width: 1200px) {
	.main-content {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		align-content: center;
	}
}

@media only screen and (min-width: 1500px) {
	nav {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: center;
		align-content: center;
        padding: 0px 50px;
	}
}
